<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Magentodevtool_Better404>
			<version>0.1.0</version>
		</Magentodevtool_Better404>
	</modules>
    
	<global>         

		<models>
			<magentodevtool_better404>
				<class>Magentodevtool_Better404_Model</class>
			</magentodevtool_better404>
		</models>

		<blocks>
			<magentodevtool_better404>
				<class>Magentodevtool_Better404_Block</class>
			</magentodevtool_better404>
		</blocks>
		
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <magentodevtool_better404more_blocks>
                        <type>singleton</type>
                        <class>magentodevtool_better404/observer</class>
                        <method>addExtraBlocks</method>
                    </magentodevtool_better404more_blocks>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>

	</global>
</config>
